{% extends "layout.html" %}

{% block content %}
    <div class="container">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Email</th>
            <th scope="col">Age</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td><a href="mailto:motto@example.com">motto@example.com</a></td>
            <td>36</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>jthornton@example.com</td>
            <td>38</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>Bird</td>
            <td>lbird@example.com</td>
            <td>46</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>Harry</td>
            <td>Potter</td>
            <td>hpotter@example.com</td>
            <td>19</td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td>Hermoine</td>
            <td>Weasley</td>
            <td>hweasley@example.com</td>
            <td>18</td>
        </tr>
        </tbody>
    </table>
    </div>
{% endblock %}
